body,
html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Afacad", sans-serif;
  font-style: normal;
  background-image: linear-gradient(rgb(0, 0, 0), rgba(255, 255, 255, 0.4)), url("../media/images/hyperspace-2.png");
  background-position: center;
  background-repeat: repeat;
  background-size: auto;
  display: flex;
  flex-direction: column;
}
main {
  padding: 0;
  flex: 1;
}
h1,
h2,
h4 {
  text-align: center;
  padding: 0;
  margin: 0;
}
h3 {
  text-align: left;
  padding: 0;
  margin: 0;
}
.link {
  color: #0015ff;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: underline 2px #0015ff;
  text-underline-offset: 5px;
  transition: all 0.4s ease;
}
.link:active {
  color: #0015ff;
}
.link:hover {
  letter-spacing: 3px;
}
.flex-item-center h2,
.flex-item-left h2 {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #000000;
  text-decoration: underline 5px #ff4646;
}
.flex-item-center h3 {
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ff4646;
  width: fit-content;
  margin: 1vw 0;
  padding: 0.2vw 0.5vw;
}
.flex-item-center p {
  font-size: 1rem;
}
.flex-item-left p {
  font-size: 1.2rem;
}
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  gap: 1rem;
}
.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  flex-direction: row;
  align-items: flex-start;
  gap: 2rem;
}
.flex-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.flex-item-center {
  padding: 1vw;
  margin: 1vw 0vw 0vw 0vw;
  overflow: hidden;
  flex: 1 1 calc(33.33% - 5rem);
  max-width: calc(33.33% - 5rem);
  height: 85vh;
  box-sizing: border-box;
  text-align: center;
  background-color: #ffffff;
  border: 2px solid #6a6a6a;
  color: #000000;
  box-shadow: 0 0px 70px rgb(0, 0, 0);
}
.flex-item-left {
  padding: 1vw;
  margin: 1vw 0vw 0vw 0vw;
  overflow: hidden;
  text-align: left;
  background-color: #ffffff;
  border: 2px solid #6a6a6a;
  color: #000000;
  box-shadow: 0 0px 70px rgb(0, 0, 0);
}
.flex-item-left,
.flex-item-img {
  flex: 1;
  max-width: 40%;
  min-width: 0;
  box-sizing: border-box;
}
.flex-item-img img {
  margin: 1vw;
  height: 50vh;
  width: auto;
  max-width: 100%;
  object-fit: cover;
  object-position: 50% 65%;
  border: 2px solid #ff4646;
  box-shadow: 0 0px 70px rgb(0, 0, 0);
}
.flex-item-center ul {
  text-align: left;
  padding: 0vw 0vw 0vw 1.2vw;
}
.flex-item-center li {
  list-style-type: square;
}
.hero-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 0, 0, 0.5)), url("../media/images/uuno.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.flex-item-hero h1 {
  font-size: 8rem;
  text-transform: uppercase;
  text-decoration: underline #ff4646 10px;
  margin: 0;
  padding: 0;
  color: #ffffff;
}
.flex-item-hero p {
  font-size: 3rem;
  margin: 0;
  padding: 0;
  color: #ffffff;
}
.flex-item-hero {
  position: static;
  padding: 1vw;
  white-space: normal;
  word-wrap: break-word;
  max-width: 100%;
  width: auto;
  height: auto;
  box-sizing: border-box;
  text-align: center;
  z-index: 0;
}
.flex-item-hero img.profile {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 0;
  border: 10px solid #6a6a6a;
  box-shadow: 0px 10px 20px rgb(255, 69, 69), 0px -10px 15px rgb(255, 255, 255), 10px 0px 20px rgb(255, 255, 255),
    -10px 0px 15px rgb(255, 69, 69);
  animation: rotate-shadow 6s linear infinite;
  transition: all 0.4s ease;
  cursor: pointer;
}
@keyframes rotate-shadow {
  0% {
    box-shadow: 0px 10px 20px rgb(255, 69, 69), 0px -10px 15px rgb(255, 255, 255), 10px 0px 20px rgb(255, 255, 255),
      -10px 0px 15px rgb(255, 69, 69);
  }
  25% {
    box-shadow: 10px 10px 20px rgb(255, 69, 69), -10px -10px 15px rgb(255, 255, 255), 20px 0px 20px rgb(255, 255, 255),
      -20px 0px 15px rgb(255, 69, 69);
  }
  50% {
    box-shadow: 10px 0px 20px rgb(255, 69, 69), -10px 0px 15px rgb(255, 255, 255), 0px -10px 20px rgb(255, 255, 255),
      0px 10px 15px rgb(255, 69, 69);
  }
  75% {
    box-shadow: -10px -10px 20px rgb(255, 69, 69), 10px 10px 15px rgb(255, 255, 255), -20px 0px 20px rgb(255, 255, 255),
      20px 0px 15px rgb(255, 69, 69);
  }
  100% {
    box-shadow: 0px 10px 20px rgb(255, 69, 69), 0px -10px 15px rgb(255, 255, 255), 10px 0px 20px rgb(255, 255, 255),
      -10px 0px 15px rgb(255, 69, 69);
  }
}
.flex-item-hero img.profile:hover {
  border: 10px solid rgb(255, 69, 69);
}
@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.flex-item-hero a img {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  transition: all 0.4s ease;
}
.flex-item-hero a img:hover {
  transform: rotate(20deg);
}
.experience-electrician {
  background-image: url("../media/images/electrician.png");
  background-size: 40px;
  background-position-y: center;
  background-position-x: 25%;
  background-repeat: no-repeat;
}
.education-code {
  background-image: url("../media/images/coding.png");
  background-size: 40px;
  background-position-y: center;
  background-position-x: 1%;
  background-repeat: no-repeat;
}
.education-electrician {
  background-image: url("../media/images/electrician.png");
  background-size: 40px;
  background-position-y: center;
  background-position-x: 1%;
  background-repeat: no-repeat;
}
.education-army {
  background-image: url("../media/images/sergeant.png");
  background-size: 40px;
  background-position-y: center;
  background-position-x: 1%;
  background-repeat: no-repeat;
}
